/* You can add global styles to this file, and also import other style files */
body{
  height:100vh;
  width:100vw;
  margin:0;
  background: #466368;
  background: -webkit-linear-gradient(#648880, #293f50);
  background:    -moz-linear-gradient(#648880, #293f50);
  background:         linear-gradient(#648880, #293f50);
  /*font-family: 'Pangolin', cursive;*/

}

.head{
  font-family: 'Sansita', sans-serif;

  text-align: center;
  font-size:50px;
  color:white;
  margin:30px 0 40px 0;
  /*margin:2vh 0 4vh 0;*/
}

@media screen and (min-width: 768px) {
  .head{
    font-size:65px;
    color:white;
    margin:40px 0 70px 0;
    /*margin:2vh 0 4vh 0;*/
  }
}
